body {
    color:#333;
    font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size:14px;
    padding:0px 24px;
}

.subtitle {
    color:#999;
    font-size:1.75em;
    font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
    font-style:italic;margin-top:-16px;
}
